In [1]:
import pandas as pd

In [4]:
budget_df = pd.read_csv("budget_data.csv", parse_dates=True, index_col='Date', infer_datetime_format=True)

In [5]:
budget_df

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503
...                   ...
2016-10-01         102685
2016-11-01         795914
2016-12-01          60988
2017-01-01         138230
2017-02-01         671099

[86 rows x 1 columns]

In [9]:
budget_df.index

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01',
               '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01',
               '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
               '2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01',
               '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01',
               '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01',
               '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01',
               '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01',
               '2013-09-01', '2013-10-01', '2013-11-01', '2013-12-01',
               '2014-01-01', '2014-02-01', '2014-03-01', '2014-04-01',
               '2014-05-01', '2014-06-01', '2014-07-01', '2014-08-01',
               '2014-09-01', '2014-10-01', '2014-11-01', '2014-12-01',
               '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
               '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
               '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
               '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01', '2017-02-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [10]:
len(budget_df.index)

86

In [11]:
total_months = len(budget_df.index)
total_months

86

In [12]:
budget_df['Profit/Losses'].sum()

38382578

In [14]:
total = budget_df['Profit/Losses'].sum()
total

38382578

In [30]:
budget_df['Profit/Losses'].diff()

Date
2010-01-01         NaN
2010-02-01    116771.0
2010-03-01   -662642.0
2010-04-01   -391430.0
2010-05-01    379920.0
                ...
2016-10-01   -665765.0
2016-11-01    693229.0
2016-12-01   -734926.0
2017-01-01     77242.0
2017-02-01    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [24]:
monthly_chng = list(budget_df['Profit/Losses'])

In [27]:
date = list(budget_df.index)

In [31]:
budget_df['Monthly Change'] = budget_df['Profit/Losses'].diff()
budget_df['Monthly Change']

Date
2010-01-01         NaN
2010-02-01    116771.0
2010-03-01   -662642.0
2010-04-01   -391430.0
2010-05-01    379920.0
                ...
2016-10-01   -665765.0
2016-11-01    693229.0
2016-12-01   -734926.0
2017-01-01     77242.0
2017-02-01    532869.0
Name: Monthly Change, Length: 86, dtype: float64

In [32]:
budget_df

            Profit/Losses  Monthly Change
Date
2010-01-01         867884             NaN
2010-02-01         984655        116771.0
2010-03-01         322013       -662642.0
2010-04-01         -69417       -391430.0
2010-05-01         310503        379920.0
...                   ...             ...
2016-10-01         102685       -665765.0
2016-11-01         795914        693229.0
2016-12-01          60988       -734926.0
2017-01-01         138230         77242.0
2017-02-01         671099        532869.0

[86 rows x 2 columns]

In [41]:
budget_df['Monthly Change'].mean()

-2315.1176470588234

In [42]:
avg_change = budget_df['Monthly Change'].mean()
avg_change

-2315.1176470588234

In [34]:
budget_df['Monthly Change'].max()

1926159.0

In [35]:
big_increase = budget_df['Monthly Change'].max()
big_increase

1926159.0

In [37]:
big_decrease = budget_df['Monthly Change'].min()
big_decrease

-2196167.0

In [43]:
def fin_analysis():
    print ("Financial Analysis")
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    print ("Total Months:", total_months) 
    print ("Total:", '${:,.2f}'.format(total))
    print ("Average Change:", '${:,.2f}'.format(avg_change))
    print ("Greatest Increase in Profits:","(", '${:,.2f}'.format(big_increase), ")")
    print ("Greatest Decrease in Profits:","(", '${:,.2f}'.format(big_decrease), ")")
fin_analysis()

Financial Analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Total Months: 86
Total: $38,382,578.00
Average Change: $-2,315.12
Greatest Increase in Profits: ( $1,926,159.00 )
Greatest Decrease in Profits: ( $-2,196,167.00 )